#Enter name for launcher
VITE_LAUNCHER_NAME="Project"

#Enter your backend ip and port in this format "http://127.0.0.1:3551"
VITE_BACKEND_URL="http://127.0.0.1:3551"

#Enter link to your discord server
VITE_DISCORD_LINK="https://discord.gg/re4m84Sdsv"

#Enter image for logo link if wanted
VITE_LOGO_URL="https://i.ibb.co/1GVGmGPh/logo.png"

#Enter image for background link if wanted
VITE_BACKGROUND_URL="https://i.ibb.co/hx42Ndqt/fn.jpg"

#Redirect Link can be edited in src-tauri/src/carter.rs in line 358
#I will add this in this file later on but for now its in development