#Enter name for launcher
VITE_LAUNCHER_NAME=""

#Enter launcher version
VITE_LAUNCHER_VERSION=""

#Enable/Disable requiring login, shop, and leaderboard api either true or false
VITE_ENABLE_API=""

#Image that displays when no build is imported
VITE_PLACEHOLDER_IMAGE=""

#Enter your backend ip and port in this format "http://127.0.0.1:3551"
VITE_BACKEND_URL=""

#Enter link to your discord server
VITE_DISCORD_LINK=""

#For discord rich precense
VITE_DISCORD_CLIENT_ID=""

#Enter image for logo link if wanted
VITE_LOGO_URL=""

#Enter image for background link if wanted
VITE_BACKGROUND_URL=""

#Redirect Link
VITE_REDIRECT_LINK=""

#Dlls to inject to the game, to add multiple do "link,link" NO SPACES
VITE_INJECT_DLLS_LINKS=""

#Paks downloads, to add multiple do "link.pak,link.sig" NO SPACES
VITE_PAKS_AND_SIGS_LINKS=""